/* Undermode Admin Styles */
.undermode .form-table { margin-bottom: 100px !important; }
.undermode h2 { margin-top: 50px !important; }

.iris-picker .iris-slider {
	width: 18px !important;
	margin-left: 8px !important;
}